@tailwind base;
@tailwind components;
@tailwind utilities;




.brand{
    @apply p-1 mr-4 rounded text-white uppercase font-sans font-light;
    background-color: rgba(244, 151, 22, 1);
}

.black_button{
    @apply text-white uppercase gap-3 px-5 py-3 rounded-2xl;
    background-color: rgba(29, 29, 27, 1);
    cursor: pointer;
}

.blog_post_card{
    @apply flex md:flex-row flex-1  items-center container mx-auto overflow-x-hidden mb-16;

}

article.blog-first > div.blog-article-child{
    @apply -ml-[200px] pl-[200px];
    background: #F6F6F8;
  }

  article.blog-second > div.blog-article-child{
    @apply -mr-[200px] pl-[200px];
    background: #F6F6F8;
  }