@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #656461;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.hero {
    background-image: url("assets/wine-cellar.png");
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
}

.circle {
    aspect-ratio: 1/1;
    color: #1D1D1B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-wrap: break-word;
    margin-bottom: -5rem;
}

.line {
    width: 40px;
    height: 0.1px;
    background-color: black;
}

.logo {
    top: -60%;
}

.wine-container {
    grid-template-columns: repeat(3, 1fr);
}

/* .first {
    top: 25%;
    left: 5%;
    transform: translate(-50%, -50%);
}
  
.second {
    top: 47.5%;
    left: 75%;
    transform: translate(-50%, -50%);
}
  
.third {
    top: 30%;
    left: 95%;
    transform: translate(-50%, -50%);
} */


/* @media only screen and (max-width: 640px) {

}

@media only screen and (min-width: 641px) and (max-width: 1279px) {

}

@media only screen and (min-width: 1280px) {

} */